*{
    margin: 0; 
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
header{
    position: relative;
    top: 0;left: 0;right: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
   width: 50px; 
   height: 40px;
}
header .navbar ul li{
    list-style: none;
    float: left;
}
header .navbar ul li a{
    font-size: 20px;   
    padding: 10px;
    color: black;
    display: block;
}
header .navbar ul li a:hover{ 
    color: blue;  
}
header .navbar ul li ul{
    position: absolute;   
    width: 400px;
    background-color: #fff;
    display: none;     
   
}
header .navbar ul li ul li{
    width: 100%; 
    border-top: 1px solid rgba(0,0,0,.1);  
    
}
header .navbar ul li ul li ul{
    left:400px;
    top: 0px; 
    
}
header .navbar ul li:focus-within>ul,
header .navbar ul li:hover >ul{
   display: initial; 
}
#menu-bar{
    display: none;
}
header label{
    font-size: 20px;
    color:#333 ;
    cursor: pointer;
    display: none;
}





@media(max-width:991px){
  header{
padding: 20px;    
  } 
  header label{
    display: initial;
  } 
  header .navbar{
    position: absolute;
    top:100%;left: 0;right: 0;
    background-color: #5D4DA8;
    border-top: 1px solid rgba(0,0,0,.1) ;
    display: none;
  }
  header .navbar ul li{   
    width: 100%;
  }
  header .navbar ul li ul{   
   position: relative;
   width: 100%;
  }
  header .navbar ul li ul li{   
    background-color:#eee ;
  }
  header .navbar ul li ul li ul{   
   width: 100%;
   left: 0;
  }
  #menu-bar:checked ~.navbar{
    display: initial;
  }



}